<h4 class="text-center">Registre-se</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input class="form-control" type="email" placeholder="e-mail" formControlName="email"/>
      <app-mensagem
        *ngIf="novoUsuarioForm.get('email')?.errors &&
        novoUsuarioForm.get('email')?.touched"
        mensagem="E-mail Obrigatório">
      </app-mensagem>
      <app-mensagem
        *ngIf="novoUsuarioForm.get('email')?.errors &&
        novoUsuarioForm.get('email')?.touched"
        mensagem="E-mail no formato inválido!">
      </app-mensagem>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Nome Completo" formControlName="fullName"/>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('fullName')?.errors?.fullName &&
      novoUsuarioForm.get('fullName')?.touched"
      mensagem="Nome incorreto">
    </app-mensagem>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Usuário" formControlName="userName">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo &&
      novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuário deve ser em letra minúscula">
    </app-mensagem>

    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
      mensagem="Usuário já existe">
    </app-mensagem>

  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Senha" formControlName="password"/>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<p>Já é um usuário? <a [routerLink]="['']"> Faça Login! </a></p>
